@import 'reset.css';

html {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 3rem;
}

header h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.2rem;
}

main {
    padding-left: 3rem;
}

.go_back {
    position: fixed;
    top: 10px;
    left: 15px;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

/* INDEX PAGE */

main.index section.homebox {
    margin: 10% auto;
    background: #fffaf4;
    padding: 2rem;
    box-sizing: border-box;
    width: 40%;
}

main.index section.homebox img {
    width: 100%;
}

section.logo {
    position: fixed;
    width: 15%;
    transform: rotate(15deg);
    top: 20px;
    right: 10px;
}

section.logo img {
    width: 100%;
}

main.index nav {
    width: 100%;
    padding: 1rem;
    margin: -10% auto 0 auto;
    text-align: center;
}

main.index nav ul {
    margin-left: 30%;
}

main.index nav ul li {
    float: left;
    margin-right: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    background: #ff0079;
    padding: 1rem;
    width: 15%;
}

main.index nav ul li a {
    text-decoration: none;
    transition-duration: 0.5s;
    color: #fff;
}

main.index nav ul li a:hover {
    color: #111;
}

main.index h2 {
    font-weight: bold;
}

/* SUBMIT AND UPLOAD PAGES */

body.submit {
    padding: 1rem;
}

main form input[type=text].submit_title,
main form textarea.submit_content,
main form textarea.caption_content,
main form input[type=submit].submit,
main form select.challenges {
    background: #eee;
    padding: 0.75rem;
    border: 5px solid #ccc;
    font-size: 1rem;
}

main form input[type=text].submit_title {
    width: 33%;
    margin-top: 0.5rem;
}

main form textarea.submit_content,
main form textarea.caption_content {
    width: 45%;
    margin-top: 2rem;
    resize: none;
}

main form textarea.submit_content {
    height: 20rem;
}

main form textarea.caption_content {
    height: 10rem;
}

main form input[type=submit].submit,
main form select.challenges {
    padding: 0.5rem;
    margin-top: 1rem;
}

main form.challenges input[type=text].submit_title:focus,
main form.challenges textarea.submit_content:focus,
main form.challenges textarea.caption_content:focus,
main form.challenges input[type=submit].submit:focus {
    outline: none;
    border: 5px solid #6ed8fb;
}

main form.upload input[type=text].submit_title:focus,
main form.upload textarea.submit_content:focus,
main form.upload textarea.caption_content:focus,
main form.upload input[type=submit].submit:focus {
    outline: none;
    border: 5px solid #e64553;
}

body.submit .bottom_right {
    bottom: 10px;
    right: 10px;
    position: fixed;
    width: 50%;
    margin: -1rem;
}

/* GALLERY HOMEPAGE */

main.galleries {
    width: 50%;
    margin: 5% auto;
    padding: 1rem;
}

main.galleries section {
    margin: 1.5rem;
    transition-duration: 0.5s;
    float: left;
    width: 275px;
    height: 275px;
}

main.galleries > section:hover {
    opacity: 0.5;
}

main.galleries .one {
    background-image:url(../img/gallery_1.jpg);
}

main.galleries .two {
    background-image:url(../img/gallery_2.jpg);
}

main.galleries .three {
    background-image:url(../img/gallery_3.jpg);
}

main.galleries .four {
    background-image:url(../img/gallery_4.jpg);
}

main.galleries section h2 {
    text-align: center;
    font-weight: bold;
    position: absolute;
    font-size: 1.7rem;
    opacity: 0;
    transition-duration: 0.5s;
}

main.galleries section:hover h2 {
    opacity: 1;
}

main.galleries a section h2 {
    color: black;
    margin-top: 8%;
    text-align: center;
    width: 275px;
    padding: 1rem;
    box-sizing: border-box;
}

/* GALLERIES */

main.time {
    padding: 3rem 10rem;
}

main.time figure {
    float: left;
    width: 28%;
    margin: 0 2rem 2rem 0;
}

main.time figure img {
    width: 100%;
    transition-duration: 0.5s;
}

main.time figure img:hover {
    opacity: 0.7;
}

main.time figure figcaption {
    margin-top: -2px;
    box-sizing: border-box;
    padding: 1rem;
    background: #6ed8fb;
    line-height: 150%;
}

main.time figure figcaption h3 {
    font-weight: bold;
}

/* PERMALINK PAGES */

main.permalink {
    margin: 5rem 10%; 
}

main.permalink img {
    width: 70%;
}

main.permalink .caption {
    background: #6ed8fb;
    padding: 1rem;
    width: 70%;
    box-sizing: border-box;
    font-size: 1.25rem;
    line-height: 150%;
}

main.permalink .caption h3 {
    font-weight: bold;
}

/* BEGIN MOBILE CSS */

@media screen and (max-width: 600px) {
    main.index {
        padding-left: 0;
    }
    
    main.index section.homebox {
        width: 90%;
    }
    
    body.submit .bottom_right {
        display: none;
    }
    
    main.index nav {
        width: 60%;
    }
    
    main.index nav ul li {
        clear: both;
        margin-left: -1rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        width: 60%
    }
    
    main form input[type=text].submit_title {
        width: 50%;
    }
    
    main form textarea.submit_content,
    main form textarea.caption_content {
        width: 75%;
    }
    
    main.galleries {
        margin: 1rem -0.5rem;
    }
    
    main.galleries section {
        width: 275px;
    }
    
    main.galleries section h2 {
        opacity: 1;
    }
    
    main.galleries a section h2 {
        margin-top: 30%;
    }
    
    main.time figure {
        width: 100%;
    }
    
    main.time {
        padding: 3rem 5rem;
    }
    
    main.permalink {
        margin: 15% 1rem;
    }
    
    main.permalink img {
        width: 100%;
    }
    
    main.permalink .caption {
        width: 100%;
        font-size: 1rem;
    }
}