<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <title>MADE IN PGH</title>
        <meta charset="utf-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>    
    <body style="background: #52a3fa;" class="gallery">
        <main class="time">
          <a href="gallery.html" class="go_back">«</a>
           <figure>
               <a href="permalink_1.html">
                   <img src="../img/neighborhood_1.JPG">
               </a>
               <figcaption>
                   <h3>Friendship</h3>
                   Bakery Square is such an up and coming place to see!
               </figcaption>
           </figure>
           
              <figure>
               <img src="../img/neighborhood_2.JPG">
               <figcaption>
                   <h3>Squirrel Hill</h3>
                   I wish I'd visited this library sooner.
               </figcaption>
           </figure>
           
           <figure>
               <img src="../img/neighborhood_3.JPG">
               <figcaption>
                   <h3>East Liberty</h3>
                   I'm so happy this resturant opened right around where I live!
               </figcaption>
           </figure>
           
           <div style="clear: both"></div>
           
           <figure>
               <img src="../img/neighborhood_4.JPG">
               <figcaption>
                   <h3>East Liberty</h3>
                   This fountain is one of my favorite places to sit when its warm outside.
               </figcaption>
           </figure>
           
              <figure>
               <img src="../img/neighborhood_5.JPG">
               <figcaption>
                   <h3>Buisness District</h3>
                   Heinz Hall is an amazing place to see shows.
               </figcaption>
           </figure>
           
           <figure>
               <img src="../img/neighborhood_6.JPG">
               <figcaption>
                   <h3>Buisness District</h3>
                   I've always been in awe of this building.
               </figcaption>
           </figure>
        </main>
        <section class="logo">
            <a href="../index.html"><img src="../img/stamp_4.png"></a>
        </section>
    </body>
</html>