<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <title>MADE IN PGH</title>
        <meta charset="utf-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>    
    <body style="background: #52a3fa;" class="gallery">
        <main class="time">
          <a href="gallery.html" class="go_back">«</a>
           <figure>
               <a href="permalink_3.html">
                   <img src="../img/neighborhood_1.JPG">
               </a>
               <figcaption>
                   <h3>Friendship</h3>
                   Bakery Square is such an up and coming place to see!
               </figcaption>
           </figure>
           
           <figure>
               <img src="../img/time_4.JPG">
               <figcaption>
                   <h3>Groceria Italiana</h3>
                   This market was amazing! A great local find.
               </figcaption>
           </figure>
           
           <figure>
               <img src="../img/neighborhood_3.JPG">
               <figcaption>
                   <h3>East Liberty</h3>
                   I'm so happy this resturant opened right around where I live!
               </figcaption>
           </figure>
           
           <div style="clear: both"></div>
           
           <figure>
               <img src="../img/time_3.JPG">
               <figcaption>
                   <h3>Juke Records</h3>
                   This place had some of my favorite artists on vinyl. Definitely a great find!
               </figcaption>
           </figure>
           
           <figure>
               <img src="../img/neighborhood_2.JPG">
               <figcaption>
                   <h3>Squirrel Hill</h3>
                   I wish I'd visited this library sooner.
               </figcaption>
           </figure>
           
           <figure>
               <img src="../img/time_5.JPG">
               <figcaption>
                   <h3>Ace Hotel</h3>
                   What great architecture! I just had to take a photo.
               </figcaption>
           </figure>
        </main>
        <section class="logo">
            <a href="../index.html"><img src="../img/stamp_4.png"></a>
        </section>
    </body>
</html>