<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <title>MADE IN PGH</title>
        <meta charset="utf-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>    
    <body style="background: #52a3fa;" class="gallery">
        <main class="time">
          <a href="gallery.html" class="go_back">«</a>
           <figure>
               <a href="permalink_2.html">
                   <img src="../img/time_1.JPG">
               </a>
               <figcaption>
                   <h3>The White Whale Bookstore</h3>
                   My friends and found this place and couldn't stop browsing! The hour just flew by.
               </figcaption>
           </figure>
           
              <figure>
               <img src="../img/time_2.JPG">
               <figcaption>
                   <h3>The Carnegie Library</h3>
                   The atmosphere is so cozy, I could be here forever.
               </figcaption>
           </figure>
           
           <figure>
               <img src="../img/time_6.JPG">
               <figcaption>
                   <h3>Mural in Bloomfield</h3>
                   What a cool mural! I saw it on a walk through Bloomfield. Really brightens up the city.
               </figcaption>
           </figure>
           
           <div style="clear: both"></div>
           
           <figure>
               <img src="../img/neighborhood_4.JPG">
               <figcaption>
                   <h3>East Liberty</h3>
                   This fountain is one of my favorite places to sit when its warm outside.
               </figcaption>
           </figure>
           
              <figure>
               <img src="../img/neighborhood_5.JPG">
               <figcaption>
                   <h3>Buisness District</h3>
                   Heinz Hall is an amazing place to see shows.
               </figcaption>
           </figure>
           
           <figure>
               <img src="../img/neighborhood_6.JPG">
               <figcaption>
                   <h3>Buisness District</h3>
                   I've always been in awe of this building.
               </figcaption>
           </figure>
        </main>
        <section class="logo">
            <a href="../index.html"><img src="../img/stamp_4.png"></a>
        </section>
    </body>
</html>