<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <title>MADE IN PGH</title>
        <meta charset="utf-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>    
    <body style="background: #52a3fa;" class="gallery">
        <main class="permalink">
          <a href="gallery_time.html" class="go_back">«</a>
          <img src="../img/time_1.JPG">
          
          <section class="caption">
              <h3>The White Whale Bookstore</h3>
              My friends and found this place and couldn't stop browsing! The hour just flew by.
          </section>
        </main>
        <section class="logo">
            <a href="../index.html"><img src="../img/stamp_4.png"></a>
        </section>
    </body>
</html>