<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <title>MADE IN PGH</title>
        <meta charset="utf-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>    
    <body style="background: #68cdee;" class="submit">
        <img src="../img/website_bottomright.png" class="bottom_right">
        <a href="../index.html" class="go_back">«</a>
        <header>
            <h1 style="color: white;">Upload your Photo!</h1>
        </header>
        <main>
            <form class="upload">
                <input type="text" class="submit_title" placeholder="Photo title"><br>
                <input type="text" class="submit_title" placeholder="Names of participants in photo"><br>
                
                <input type="file" accept="image/*" style="margin-top: 1rem;"><br>
                   
                <select class="challenges">
                    <option selected>*Choose your challenge*</option>
                    <option>Challenge 1</option>
                    <option>Challenge 2</option>
                    <option>Challenge 3</option>
                    <option>Challenge 4</option>
                </select><br>
                
                <textarea class="caption_content" placeholder="Challenge caption/information..."></textarea><br>
                <input type="submit" value="Submit your photo!" class="submit">
            </form>
        </main>
        <section class="logo">
            <a href="../index.html"><img src="../img/stamp_4.png"></a>
        </section>
    </body>
</html>